* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

header {
    background-color: #FFA500;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content h1 {
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
}

.header-content p {
    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 1.5;
}

main {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1;
}

.main-title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    width: 100%; 
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.radio-option, .radio-options label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-option input[type="radio"], .radio-options input[type="radio"] {
    margin-right: 10px;
}

.radio-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input[type="text"], input[type="number"], select, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
    border-color: #008B8B;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 139, 139, 0.5);
}

textarea {
    resize: vertical;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049;
}

.submit-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer {
    width: 100%;
    text-align: center;

    flex-direction: row;
    padding: 20px;
    background-color: #FFA500;
    border-top: 1px solid #ccc;
    position: relative;
    bottom: 0;
    left: 0;
}
