<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/style.css">

    <title>Document</title>
</head>
<body>
    <footer>
        <figure><img src="/src/assets/logoPref.png" alt="Logo Prefeitura" srcset=""></figure>
        <div>
            <h4>&copy; 2024 Coordenadoria Especial de Políticas sobre Drogas (COESD). Todos os direitos reservados.</h4>
            <address>Av. Rogaciano Leite, 1729 - Eng. Luciano Cavalcante, Fortaleza - CE, 60810-470</address>
            <p>Número de contato: <strong>0800.032.1472</strong></p>
        </div>
    </footer>
</body>
</html>